apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server-ingress
  namespace: argocd
  annotations:
    # kubernetes.io/ingress.class: "nginx" # <-- This is removed
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
spec:
  # --- THIS IS THE FIX ---
  ingressClassName: nginx
  # --- END OF FIX ---
  rules:
  - host: argocd.trivoconnect.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              number: 8080