apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: loki-stack
    targetRevision: 2.10.3
    helm:
      values: |
        namespace: "monitoring"

        grafana:
          enabled: false

        loki:
          enabled: true
          storageClassName: "standard-rwo"
          persistence:
            enabled: true
            size: 10Gi
          config:
            server:
              http_listen_port: 3100
            auth_enabled: false

        promtail:
          enabled: true
          storageClassName: "standard-rwo"

        ingress:
          enabled: true
          ingressClassName: nginx
          annotations:
            nginx.ingress.kubernetes.io/ssl-redirect: "false"
          hosts:
            - host: loki.trivoconnect.com
              paths:
                - path: /
                  pathType: Prefix

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated: { prune: true, selfHeal: true }
    syncOptions: [ "CreateNamespace=true", "ServerSideApply=true" ]
