apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki-server
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: loki
    targetRevision: 6.45.2
    helm:
      values: |
        deploymentMode: single

        loki:
          auth_enabled: false

          # S3 backend
          storage:
            type: s3
            bucketNames:
              chunks: loki-chunks
              ruler: loki-ruler
              admin: loki-admin
            s3:
              s3: s3://trivo-logs-bucket
              region: us-east-1
              access_key_id: $(S3_ACCESS_KEY_ID)
              secret_access_key: $(S3_SECRET_ACCESS_KEY)
              s3forcepathstyle: true

          schemaConfig:
            configs:
              - from: 2020-10-15
                store: boltdb-shipper
                object_store: s3
                schema: v11
                index:
                  prefix: loki_index_
                  period: 24h

        grafana:
          enabled: false
        promtail:
          enabled: false
        persistence:
          enabled: false

        ingress:
          enabled: true
          ingressClassName: nginx
          annotations:
            cert-manager.io/cluster-issuer: "letsencrypt-http"
            nginx.ingress.kubernetes.io/ssl-redirect: "true"
          hosts:
            - loki.trivoconnect.com
          tls:
            - secretName: loki-tls-secret
              hosts:
                - loki.trivoconnect.com

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
